<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :blog_body, class: "form-control", rows: 10 %>
  </div>

  <h3>Activity Topic</h3>
  <div class="form-group">
    <%= form.label :topic_id %>
    <%= form.collection_select(:topic_id, Topic.all, :id, :title, 
                                {
                                  selected: blog.topic_id,
                                  include_blank: true
                                },
                                 class: 'form-control'
                              )
    %>
  </div>

  <div class="form-group" style="width: 20rem;">
    <label class="btn btn-primary">
      Upload An Image <%= form.file_field :picture, id: :blog_picture, style: 'display:none;' %>
    </label>
    <p><small><em>Image Optional</em></small></p>
  </div>

  <div class="form-group">
    <%= form.label :status, 'Draft' %>
    <%= form.radio_button :status, 'draft' %>
    
    <%= form.label :status, 'Published' %>
    <%= form.radio_button :status, 'published' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary " %>
  </div>
<% end %>
