<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @blog.title %></h1>
          <span class="meta">Posted by
            <a href="#"><%= link_to @blog.user.name.upcase %></a></span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <hr>

          <p class="text-center">Posted <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago</p>

        <hr>

        <%= image_tag blog_img(@blog.picture, 'picture'), height:'400px', width:'400px', class: "center-block" %>

        <hr>

        <p>Blog Topic: <%= @blog.topic.title %></p>

        <p><%= markdown @blog.body %></p>

        

        <%= render 'comments/comment_form' %>



        <div id="comments" data-blog-id="<%= @blog.id %>">
          <%= render @blog.comments %>
        </div>
      </div>
    </div>
     
    <div class="pull-left">
      <%= link_to 'Back', blogs_path %>
    </div>


  </div>
</article>  



