<header class="masthead">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1><h1>Hi <%= current_user.first_name %>,</h1></h1>
            <span class="subheading">Welcome to Race the Day!</span>
          </div>
        </div>
      </div>
    </div>
  </div>  
</header>

<body>

  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About Blog</h2>
          <p>The Blog page is where the community can come together and talk about their run, ask for advice, vent about a bad run, show off what they’ve accomplished, etc. Get started by signing up and join the community. </p>
          <p><%= link_to "View Blogs", blogs_path, class: 'btn btn-primary btn-xl js-scroll-trigger bg-primary' %></p>
        </div>
        <div class="col-md-6">
          <h2>About Activities</h2>
          <p>The Activity page is where the community can challenge each other by creating various events such as a Walk, Basic Run, Marathon, Long Run, and even a Hike. You can also join these various events to challenge yourself and others on it. </p>
          <p><%= link_to "View Activities", activities_path, class: 'btn btn-primary btn-xl js-scroll-trigger bg-primary' %></p>
        </div>
      </div>
    </div> 
  </section> 

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">About Race The Day!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Race the day is home to a community of runners, hikers, joggers, walkers, and people who just wants to get out and put one foot after the other. Our goal is to bring an online community of runners together and bring new runners in with the aspect of a little competition with our activity events.</p>
          <%= link_to "Get Started!", new_user_registration_path, class: 'btn btn-light btn-xl js-scroll-trigger' %>
        </div>
      </div>
    </div>
  </section> 
  
  <section>
    <div class="inner cover">
      <div class="container">
        <div class="row">
          <div class="tweets">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" data-interval="1000" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" data-interval="1000"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" data-interval="1000"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="media">
                    <i class="mr-3 fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                    <div class="media-body">
                      <h5 class="mt-0">Live Tweets</h5>
                        <%= twitter_parser SocialTool.twitter_search.first %>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="media">
                    <i class="mr-3 fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                    <div class="media-body">
                      <h5 class="mt-0">Live Tweets</h5>
                        <%= twitter_parser SocialTool.twitter_search.second %>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="media">
                    <i class="mr-3 fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                    <div class="media-body">
                      <h5 class="mt-0">Live Tweets</h5>
                        <%= twitter_parser SocialTool.twitter_search.third %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section>

</body>

