<div class="col-md-3 bttm">
  <div class="card-body bord">
    <%= image_tag act_img(draft_act.image, 'image'), height:'195px', width:'190px' %>
    <p class="card-text"><strong><%= link_to draft_act.title.truncate_words(4), activity_show_path(draft_act) %></strong></p>
    <div class="d-flex justify-content-between align-items-center">
      <ul class="list-unstyled mb-0">
        <li><small class="text-muted"><strong>Start Date: </strong><%= draft_act.start_date %></small></li>
        <li><small class="text-muted"><strong>Miles: </strong><%= draft_act.miles %></small></li>    
        <li><small class="text-muted"><strong>Status: </strong><%= draft_act.status %></small></li> 

        <%= link_to 'Destroy', draft_act, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>

        <%= link_to "Edit Activity", edit_activity_path(draft_act), class: 'btn btn-warning btn-sm' %>
      </ul>   
    </div>
  </div>
</div>



