<%= form_tag(user_dashboard_path) do %>
  <div class="form-group">
    <%= label_tag 'user[day]', 'Day' %>
    <%= date_field_tag 'user[day]', User.day, class: 'form-control' %>
  </div

  <div class="form-group">
    <%= label_tag 'user[miles]', 'Miles' %>
    <%= number_field_tag 'user[miles]', User.miles, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= submit_tag 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>

<!-- https://rails.devcamp.com/fullstack/guide/difference-between-form_form-form_tag-rails -->