<div>
<%= render 'shared/user_dash_nav' %>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
      

      <div>
        <%= render @user_published_blogs %>
        <%= render @user_draft_blogs %>
      </div>

      <div>
        <%= render @live_activities %>

        <%= render @ended_activities %>

        <%= render @draft_activities %>
      </div>
      
    </div>
  </div>

</div>