<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <%= image_tag activity_event.image, height:'100%', width:'100%' unless activity_event.image.nil? %>
    <div class="card-body">
      <p class="card-text"><strong><%= link_to activity_event.title.truncate_words(6), activity_show_path(activity_event) %></strong></p>
      <div class="d-flex justify-content-between align-items-center">
        <ul class="list-unstyled mb-0">
          <li><small class="text-muted"><strong>Days:</strong> <%= activity_event.days%></small></li>
          <li><small class="text-muted"><strong>Start Date:</strong><%= activity_event.start_date %></small></li>
          <li><small class="text-muted"><strong>Miles:</strong><%= activity_event.miles %></small></li>    
          <%= link_to 'Destroy', activity_event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </ul>   
        <div class="actions">
          <%= submit_tag 'Join', name: 'join_event', class: "btn btn-sm btn-success " %>
        </div>   
      </div>
    </div>
  </div>
</div>



