<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <%= image_tag activity.image unless activity.image.nil? %>
    <div class="card-body">
      <p class="card-text"><strong><%= link_to activity.title.truncate_words(6), activity_show_path(activity) %></strong></p>
      <div class="d-flex justify-content-between align-items-center">
        <ul class="list-unstyled mb-0">
          <li><small class="text-muted"><strong>Days:</strong> <%= activity.days%></small></li>
          <li><small class="text-muted"><strong>Start Date:</strong><%= activity.start_date %></small></li>
          <li><small class="text-muted"><strong>Miles:</strong><%= activity.miles %></small></li>    
          <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
        </ul>   
      </div>
    </div>
  </div>
</div>
