<%= image_tag @activity_events.image unless @activity_events.image.nil? %>
<h1><%= @activity_events.title %></h1>
<p>Description:<%= @activity_events.description %></p>
<p>Miles:<%= @activity_events.miles %></p>
<p>Start Date:<%= @activity_events.start_date %></p>
<p>End Date:<%= @activity_events.end_date %></p>

<p>Days Remaining:<%= @event_days %></p>

<H3>Event Type</H3>
<% @activity_events.types.each do |x| %>
<p><%= x.name %></p>
<% end %>
<hr>


<!-- figure out how to format the date -->

<!-- Have the Start date be the publish date -->

<!-- And have the Days remaining go down to 0 then go to the ended state -->