<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @activity_events.title %></h1>
          <span class="meta">Posted by
            <a href="#"><%= link_to @activity_events.user.name.upcase %></a></span>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <div class="left">
        Miles: <%= @activity_events.miles %>
      </div>
      <div class="right">
        Start Date: <%= @activity_events.start_date %>  
      </div>
      <div class="right">
        End Date: <%= @activity_events.end_date %>
       </div> 
    </div>
    <div class="card-body">
      <h5 class="card-title">Description:</h5>
      <p class="card-text"><%= @activity_events.description %></p>
      
      <% if current_user.try(:role) == :site_admin || current_user.try(:role) == :user && current_user.try(:name) != "Guest User" %>
        <div class="btn-group">
          <%= render 'act_joins/act_join_form' %>
        </div>
      <% end %>

    </div>
    <div class="card-footer text-muted">
      <div class="left">
        <%= render 'countdown' %>
      </div>
      <div class="right">
        Event Type: <%= @activity_events.type.title %>
      </div>
    </div>
    <div id="act_joins" data-activity-id="<%= @activity_events.id %>">
      <%= render @activity_events.act_joins %>
    </div>
  </div>
</div>



